<header>
  <nav>
    <ul class="menu">
      <li class="logo">
        <%= link_to root_path do %>
          <%= image_tag "listen360-logo", id: "logo-img", alt: "Company Logo" %>
          Listen360 - Alpharetta, GA
          <i class="arrow down"></i>
        <% end %>
      </li>
      <%= render "shared/user_links"%>
      <li class="toggle">
        <a href="#">
          <i class="fas fa-bars" aria-hidden="true"></i>
          <span class="sr-only">Menu</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
