/*
  *= require_self
  *= require_tree
*/

$font-primary: #111;
$font-secondary: #979595;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: $font-primary;
}

.search-box-wrapper {
  display: inline-flex;
  font-size: 18px;
  margin: 15px 0px;
}

.search-input {
  font-size: inherit;
  border: 1px solid $font-secondary;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.2em 0.5em;
  outline: 0;
}

.hidden-label {
  display: none;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

hr {
  color: $font-primary;
}

.button {
  font-size: inherit;
  border: 1px solid $font-secondary;
  border-radius: 0.5em;
  background-color: #fff;
  padding: 0 0.75em;
  color: $font-secondary;
  font-weight: bold;
  outline: 0;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #444;
}

.results-header {
  margin-top: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:  0px 5px;
}

/* Mobile */

.card {
  width: 100%;
  margin: 10px 10px;
  padding: 10px;
}

.card-title {
  padding-bottom: 5px;
}

.card-title-center {
  text-align: center;
  margin-top: 15px;
}

h1.card-title > a:link,
h1.card-title > a:hover,
h1.card-title > a:visited {
color: $font-primary;
text-decoration: none;
font-size: 20px;
}

.card-description {
  color: $font-secondary;
  font-weight: 400;
  margin-top: 15px;
  line-height: 1.5rem;
}

/* Desktop */
@media all and (min-width: 960px) {
  .card {
    width: 60%;
    margin: 40px 10px;
    padding: 10px;
  }

  .card-title {
    padding-bottom: 5px;
  }

  h1.card-title > a:link,
  h1.card-title > a:hover,
  h1.card-title > a:visited {
    color: $font-primary;
    text-decoration: none;
    font-size: 42px;
    font-weight: 600;
  }

  .card-description {
    color: $font-secondary;
    font-weight: 400;
    margin-top: 15px;
    line-height: 1.8rem;
    font-size: 18px;
  }
}
