/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  background: #f5f5f5;
  padding: 0 15px;
  z-index: 9999;
}

nav a {
  color: #000;
  text-decoration: none;
}

.menu,
.submenu {
  list-style-type: none;
}

.logo {
  font-size: 20px;
  font-weight: 500;
  padding: 7.5px 10px 7.5px 0;
}

#logo-img {
  width: 40px;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 5px;
}

.item {
  padding: 10px;
}

.item a:hover,
.item a:hover::after {
  color: #000;
}

/* Mobile */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

/* User Submenu */
.submenu {
  display: none;
}

.submenu-active .submenu {
 display: block;
}

.has-submenu i {
  font-size: 12px;
}

.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: #000;
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  background-color: #f5f5f5;
  border-radius: 3px;
}
